<ion-toolbar>
  <ion-title [routerLink]="['/home']"><ion-icon name="home-outline"></ion-icon></ion-title>
    <ion-chip slot="end">
      <ion-avatar>
        <img src="{{ userPhoto }}">
      </ion-avatar>
      <ion-label>{{ userName }}</ion-label>
    </ion-chip>
    <ion-buttons slot="end">
      <ion-button>About</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()"> <ion-icon slot="start" name="log-out-outline"></ion-icon>Sign Out</ion-button>
    </ion-buttons>
</ion-toolbar>
