<ion-header>
  <app-commonheader></app-commonheader>
</ion-header>

<ion-content *ngIf="isPageReady">
  <!--Name of the recipe-->
    <ion-toolbar color="tertiary">
    <ion-title class="recipe-name ion-text-center">{{ fullRecipe.recipe }}</ion-title>
    </ion-toolbar>
    <!--Images provided-->
    <ion-slides pager=true>
      <ion-slide *ngFor = "let image of images">
        <ion-img src="{{ image }}"></ion-img>
      </ion-slide>
    </ion-slides>
 
    <!--Description-->
    <ion-toolbar color="tertiary">
      <ion-title>About</ion-title>
    </ion-toolbar>
    <p class="ion-margin">
      {{ fullRecipe.description }}
    </p>

    <!--List of Ingredients-->
    <ion-toolbar color="tertiary">
      <ion-title>Ingredients Required</ion-title>
    </ion-toolbar>
    <ion-list>
      <ion-item *ngFor="let item of ingredients">
        <ion-icon slot="start" name="pricetag-outline" color="primary"></ion-icon>
        {{ item }}
      </ion-item>
    </ion-list>
    <!--Method-->
    <ion-toolbar color="tertiary">
      <ion-title>Method of Preparation</ion-title>
    </ion-toolbar>
    <p class="ion-margin">
      {{ fullRecipe.method }}
    </p>
    <ion-toolbar color="tertiary">
      <ion-chip color="primary" *ngFor="let tag of fullRecipe.tags" (click)="searchByKeyword(tag)">{{ tag }}</ion-chip>
    </ion-toolbar>
</ion-content>