<ion-header>
  <app-commonheader></app-commonheader>
</ion-header>

<ion-content *ngIf="isPageReady">
  <!--Name of the recipe-->
    <ion-toolbar color="light">
    <ion-title class="recipe-name ion-text-center">{{ fullRecipe.recipe }}</ion-title>
    </ion-toolbar>
    <!--Images provided-->
    <ion-slides pager=true>
      <ion-slide *ngFor = "let image of images">
        <ion-img src="{{ image }}"></ion-img>
      </ion-slide>
    </ion-slides>
 
    <!--Description-->
    <ion-toolbar color="light">
      <ion-title>About</ion-title>
    </ion-toolbar>
    <p class="ion-margin">
      {{ fullRecipe.description }}
    </p>

    <!--List of Ingredients-->
    <ion-toolbar>
      <ion-title>Ingredients Required</ion-title>
    </ion-toolbar>
    <ion-list>
      <ion-item *ngFor="let item of ingredients">{{ item }}</ion-item>
    </ion-list>
    <!--Method-->
    <ion-toolbar>
      <ion-title>Method of Preparation</ion-title>
    </ion-toolbar>
    <p class="ion-margin">
      {{ fullRecipe.method }}
    </p>
</ion-content>