<ion-header>
  <app-commonheader></app-commonheader>
</ion-header>

<ion-content>
  <!--Name of the recipe-->
    <ion-toolbar>
    <ion-title>Name of Dish</ion-title>
    </ion-toolbar>
    <!--Images provided-->
    <ion-slides pager=true>
      <ion-slide>
        <ion-img src="https://images-gmi-pmc.edge-generalmills.com/72a236a8-83ae-4d06-90ad-68f66d39f1f2.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="https://images-gmi-pmc.edge-generalmills.com/72a236a8-83ae-4d06-90ad-68f66d39f1f2.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="https://images-gmi-pmc.edge-generalmills.com/72a236a8-83ae-4d06-90ad-68f66d39f1f2.jpg"></ion-img>
      </ion-slide>
    </ion-slides>
    <!--List of Ingredients-->
    <ion-toolbar>
      <ion-title>Ingredients Required::</ion-title>
    </ion-toolbar>
    <ion-list>
      <ion-item>1kg wheat flour</ion-item>
      <ion-item>1kg Rice flour</ion-item>
      <ion-item>1kg all purpose flour</ion-item>
      <ion-item>salt as required</ion-item>
    </ion-list>
    <!--Method-->
    <ion-toolbar>
      <ion-title>Method of Preparation::</ion-title>
    </ion-toolbar>
    <p class="ion-margin">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
</ion-content>