img
{
    height:280px;
    width:100%;
}

.recipe-desc {
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  
}

.card-footer {
    margin: 10px 0px 10px 0px;
}
