ion-note {
    margin-left: 10px;
    margin-top: 8px;
}

.drop-zone { 
    background-color: #f6f6f6;
    border: dotted 3px #dedddd; 
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.file-input-container {

    text-align: right;

    input[type="file"] {
        display: none;
    }

    label {
        padding: 6px 12px;
        cursor: pointer;
    }
}

.nv-file-over { 
    border: dotted 3px red; 
}

input[type="file"] {
    display: none;
}