@font-face {
    font-family: 'DancingScriptRegular';
    src: url('src/assets/fonts/DancingScript-Regular.ttf');
    font-weight: 200;
  }
  @font-face {
    font-family: 'DancingScriptMedium';
    src: url('src/assets/fonts/DancingScript-Medium.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'DancingScriptSemiBold';
    src: url('src/assets/fonts/DancingScript-SemiBold.ttf');
    font-weight: 700;
  }

  @font-face {
    font-family: 'DancingScriptBold';
    src: url('src/assets/fonts/DancingScript-Bold.ttf');
    font-weight: bold;
  }

  @font-face {
    font-family: 'AntonRegular';
    src: url('src/assets/fonts/Anton-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
