<ion-header>
  <app-commonheader></app-commonheader>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="search">
        <ion-label>Search</ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="main">
        <ion-label>Dashboard</ion-label>
        <ion-icon name="restaurant-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="trending">
        <ion-label>Trending</ion-label>
        <ion-icon name="trending-up-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>