<ion-header>
  <app-commonheader></app-commonheader>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col *ngFor="let recipe of listOfRecipes" size-xs="12" size-sm="12" size-md="6" size-lg="3">
        <ion-card>
          <img src="{{ recipe.images[0] }}" />
          <ion-card-header>
            <ion-card-subtitle>{{ recipe.tags[0] }}</ion-card-subtitle>
            <ion-card-title>{{ recipe.recipe }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ recipe.description }}
            <section>
            <ion-button expand="block" (click)="goToRecipePage(recipe.id)">View Full Recipe</ion-button>
          </section>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Option to add new recipe-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="addNewRecipe()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>