<ion-header>
  <ion-toolbar>
    <ion-title color="success">Pinch of Yum</ion-title>
  <ion-buttons slot="end">
    <ion-button fill="solid" color="success" (click)="signInWithGoogle()"><ion-icon slot="start" name="logo-google"></ion-icon>Sign In With Google</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  <ion-grid>
    <ion-row>
    <ion-col>
      <ion-toolbar>
        <ion-title color="success">Tasty and Simple Recipes</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="solid" color="success" (click)="signInWithPinchOfYum()"><ion-icon name="restaurant-outline"></ion-icon>SignUp</ion-button>
          <ion-button fill="solid" color="success" (click)="login()"><ion-icon name="restaurant-outline"></ion-icon>Login</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
    </ion-row>
    </ion-grid>

  <ion-slides pager=true [options]="slideOpts">
  <ion-slide>
    <ion-img src="https://images-gmi-pmc.edge-generalmills.com/72a236a8-83ae-4d06-90ad-68f66d39f1f2.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <ion-img src="https://images-gmi-pmc.edge-generalmills.com/72a236a8-83ae-4d06-90ad-68f66d39f1f2.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <ion-img src="https://images-gmi-pmc.edge-generalmills.com/72a236a8-83ae-4d06-90ad-68f66d39f1f2.jpg"></ion-img>
  </ion-slide>
</ion-slides>

<ion-slides pager=true [options]="slideOpts">
  <ion-slide>
    <ion-img src="https://images-gmi-pmc.edge-generalmills.com/72a236a8-83ae-4d06-90ad-68f66d39f1f2.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <ion-img src="https://images-gmi-pmc.edge-generalmills.com/72a236a8-83ae-4d06-90ad-68f66d39f1f2.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <ion-img src="https://images-gmi-pmc.edge-generalmills.com/72a236a8-83ae-4d06-90ad-68f66d39f1f2.jpg"></ion-img>
  </ion-slide>
</ion-slides>

<ion-slides pager=true [options]="slideOpts">
  <ion-slide>
    <ion-img src="https://images-gmi-pmc.edge-generalmills.com/72a236a8-83ae-4d06-90ad-68f66d39f1f2.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <ion-img src="https://images-gmi-pmc.edge-generalmills.com/72a236a8-83ae-4d06-90ad-68f66d39f1f2.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <ion-img src="https://images-gmi-pmc.edge-generalmills.com/72a236a8-83ae-4d06-90ad-68f66d39f1f2.jpg"></ion-img>
  </ion-slide>
</ion-slides>

</ion-content>
